body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    height: 100vh;
    margin: 0;
}
.container {
    display: flex;
    flex-direction: column;
}